h1{
    border: solid black 10px;
    background-color: bisque;
    text-align: center;
    padding: 50px;
    font-size: 100px;
    
}

table{
    border: solid black 10px;
    background-color:bisque;    
    text-align: center;
    padding: 50px;
    font-size: 25px;
    column-gap: "200px";
}
img{
    align-items: center;
}
td{
    column-width: 250px;
    
}