.tap:hover{
    text-decoration-line: underline;
    cursor: pointer;
    border: solid white 3px;
    padding: 5px;
}
.tap{
    border: 3px;
    padding: 5px;
}
#links{
    font-family: Helvetica;
    font-weight: 200;
    font-size: 40px;
    font-style: bold;
    background-color: rgb(64, 154, 238);
    border: solid black 2px;
    padding: 7px;
}
a{
    text-decoration:none; 
    color: black;
}

