h1{
    text-align: center;
    border: solid black 10px;
    padding: 50px;
    background-color:lightcoral;
    font-size: 100px;
    
}
.point{
    font-size: 50px;
    cursor: pointer;
    
}
table{
    border: solid black 10px;
    padding: 50px;
    background-color:bisque;
    font-size: 25px;
    text-align: center;
    
    
}
th,td{
    text-align: center;
}


